<div ng-controller="CategoryCreateController">

<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Category Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="category.category_name" class="form-control" id="category_name" placeholder="Category Name Here" required />
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" ng-click="addCategory(category.category_name)" value="Save"/>
  </div>
</div>

</div>