<!-- Jumbotron -->
<div class="jumbotron">
	<h1>ASWAT ANGULARJS APP</h1>
	<p class="lead">
		 Prepare a system mimicking a shopping cart which has a backend made in nodeJS/PHP/Python <br>
			     fronted using AngularJS <br/>
    The backend should be able to add/edit/delete products and product categories  <br/>
    Frontend should be able to list the product and product categories and add items to the cart and save it for later checkout (using JS local storage) <br/>
    Database can be of your choice (mysql/mongodb/flat-file)
		</p>
	<p>
		<a class="btn btn-lg btn-success" href="#/products" role="button">View Products</a>
	</p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="col-lg-4">
		<h2>Added to the Assassment</h2>
		<p>
			User  Management <br/>
			Categories Management <br/>
			Product Management <br/>
			Register Features <br/>
			Log In Features <br/>  
			Browse Products by Category 
		</p>
		<p>
			<a class="btn btn-primary" href="#/products" role="button"> View Products &raquo;</a>
		</p>
	</div>
	<div class="col-lg-4">
		<h2>Customer Access</h2>
		<p>
			Login : <strong> customer</strong> <br/>
			Password : <strong> customer</strong>
		</p>
		<p>
			<a class="btn btn-primary" href="#/credential" role="button">Log In &raquo;</a>
		</p>
	</div>
	<div class="col-lg-4">
		<h2>Administration Access</h2>
		<p>
			Login : <strong> admin</strong> <br/>
			Password : <strong> admin</strong>
			</p>
		<p>
			<a class="btn btn-primary" href="#/credential" role="button">Log In  &raquo;</a>
		</p>
	</div>
</div>