<div ng-repeat="product in products" ng-controller="AdminProductViewController">
	
<h3>Details for {{product.product_name}}</h3>
<table class="table producttable">
  <tr>
    <td>Product Name</td>
    <td>{{product.product_name}}</td>
  </tr>
  <tr>
    <td>Category</td>
    <td> 
    	<select name="category_id" id="category_id"  disabled="disabled" ng-model="product.category_id" class="form-control" ng-options="category.id as category.category_name for category in categories" >
		  </select>
	</td>
  </tr>
  <tr>
    <td>Picture</td>
    <td><img width="200px" height="200px" ng-src="index.php?ajax=1&controller=Image&action=ImgPath&id={{product.image_id}}" src="" /> </td>
  </tr>
  <tr>
    <td>Teaser</td>
    <td> {{product.teaser}}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{product.description}}</td>
  </tr>
  <tr>
    <td>Price</td>
    <td>{{product.price}} $</td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" ui-sref="editProduct({id:product.id})">Edit</a>
</div>
</div>