<style>
	.form-signin {
max-width: 330px;
padding: 15px;
margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}
.form-signin .checkbox {
font-weight: normal;
}
.form-signin .form-control {
position: relative;
height: auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 10px;
font-size: 16px;
}
.form-signin .form-control:focus {
z-index: 2;
}
</style>

<form  class="form-signin" ng-controller="SignUp">
	<h2 class="form-signin-heading">Sign up</h2>
<input name="pseudo" placeholder="Your User Login"><br>
<input name="login" ua-is-email placeholder="Email"><br>
<input name="password" placeholder="Password" type="password"><br>
<p><button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button></p>
<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
<div class="alert alert-danger" role="alert" ng-show="error">{{ error.message }}</div>
<p class=""><a href="#/login">Log in</a></p>
</form>